@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mertcan</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* <table> *@
@*     <tr> *@
@*         <td>Ad</td> *@
@*         <td> *@
@*             <input data-bind="value:Ad"/> *@
@*         </td> *@
@*         <td data-bind="text:Ad"></td> *@
@*     </tr> *@
@*     <tr> *@
@*         <td>Soyad</td> *@
@*         <td> *@
@*             <input data-bind="value: Soyad"/> *@
@*         </td> *@
@*         <td data-bind="text: Soyad"></td> *@
@*     </tr> *@
@*     <tr> *@
@*         <td>Memleket</td> *@
@*         <td> *@
@*             <input data-bind="value: Memleket"/> *@
@*         </td> *@
@*         <td data-bind="text: Memleket"></td> *@
@*     </tr> *@
@*     <tr> *@
@*         <td>Yaş</td> *@
@*         <td> *@
@*             <input data-bind="value: Yas"/> *@
@*         </td> *@
@*         <td data-bind="text: Yas"></td> *@
@*     </tr> *@
@*     <tr> *@
@*         <td>Tam Bilgi</td> *@
@*         <td colspan="2" data-bind="text: TamBilgi"></td> *@
@*     </tr> *@
@* </table> *@

<div>
    <p data-bind="text : Name"></p>
    <p data-bind="text : LastName"></p>
    <p data-bind="text : Age"></p>
    <p data-bind="text : Gender"></p>
    <p data-bind="text : Example"></p>
</div>


<script type="text/javascript">
 // function ViewModel(){
 //     Ad=ko.observable("Mertcan"),
 //     Soyad=ko.observable("Elitaş"),
 //     Memleket=ko.observable("Sivas"),
 //     Yas=ko.observable(26),
 //     TamBilgi=ko.computed(function (){return this.Ad() + " " + this.Soyad() + " - " + this.Memleket() + " - " + this.Yas()})
 //    
 // }
 //
 // $(document).ready(function () {
 //          ko.applyBindings(ViewModel());
 //      });
 </script>

<script type="text/javascript">
 function GeneratePerson(name,lastname,age,gender){
        let _name=name;
        let _lastname=lastname;
        let _age=age;
        let _gender=gender;
        let myname='Merrtcan'

        return {
                name: _name,
                lastname: _lastname,
                age: _age,
                gender: _gender
            };
     }
     
     function ViewModel(){
     InsanNesnesi=GeneratePerson("Mertcan","Elitaş","25","Erkek")
     
     Name=ko.observable(InsanNesnesi.name);
     LastName=InsanNesnesi.lastname;
     Age=InsanNesnesi.age;
     Gender=InsanNesnesi.gender;
     Example="Test"
     };
     
 $(document).ready(function () {
     ko.applyBindings(ViewModel());
     });
</script>
